#temp-access-root {
  .tempaccess_editform {
    background: #ffffff;
    padding: 20px;
  }

  .tempaccess_editform, .add_new-button {
    margin: 1em 0;
  }

  .tempaccess_editform {
    & > .components-base-control {
      margin: 1em 0;
    }
  }

  .tempaccess_action_buttons button {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }

  .components-base-control__label, .components-input-control__label {
    font-size: 1.2em;
  }

  .userslist_wrapper {
    background: #ffffff;
    padding: 20px 10px;
  }

  .temp__user_data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    & .temp_user_data_item {
      flex: 1;
    }

    &.temp__user_data_headings {
      font-weight: 700;
      font-size: 1.2em;
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1000px) {
  #temp-access-root {
    .tempaccess_editform {
      max-width: 40%;
    }
  }
}
